.plansCards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 45px;
 
}
.cardBorder {
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 22%;
}
.freeImage{
  text-align: center;
      margin-top: 50px;
}
.freeImage img {
    width: 100px;
    margin-bottom: 20px;
}
.cardsName{
    text-align: center;
}
ul.cardsUl {
    padding: 0;
    height: 235px;
}
li.cardList {
    display: flex;
    gap: 10px;
}
.ulCenter {
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsBottom {
    text-align: center;
    margin-bottom: 50px;
}

.selectBtn {
    background: none;
    border: 2px solid #F53838;
    padding: 8px 55px;
    color: #F53838;
    font-weight: bolder;
    border-radius: 30px;
}
.selectBtn:hover {
    background-color: red;
    color: white;
}
.cardTopContent p {
    width: 48%;
    margin: auto;
    line-height: 26px;
}
.cardTopContent {
    text-align: center;
}
.priceCard {
    margin-top: 150px;
}




