body {
  margin: 0;
  padding: 10px 100px;
  font-family: 'Rubik', sans-serif;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(white, #F8F8F8);

}
body p,span,li{
  color: #4F5665;
}
li{
  list-style: none;
  line-height: 35px;
  
}
